%body
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder Collectables
        %p.lead.fw-normal.text-white-100.mb-0 ✨✨✨
  / Section
  %section.py-5
    .container.px-4.px-lg-5.mt-5
      .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
        - @products.each do |product|
          - if product.category == "Collectables"
            .col.mb-5
              .card.h-100
                / Product image
                = image_tag(product.image_url)
                / Product details
                .card-body.p-4
                  .text-center
                    / Product name
                    %h4.fw-bolder= product.title
                    / Product price
                    £
                    %span.price= product.price
                    %p.fw-bolder= product.description
                / Product actions
                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                  .text-center
                    %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
