%header#nav-wrapper
  %nav#nav
    .nav.left
      %span.gradient.skew
        %h1.logo.un-skew
          %a{:href => "/"} M.C.M
      %button#menu.btn-nav
        %span.fas.fa-bars
    .nav.right
      %a.nav-link.active{:href => "/"}
        %span.nav-link-span
          %span.u-nav Home
      %a.nav-link{:href => "/movies"}
        %span.nav-link-span
          %span.u-nav Movies
      %a.nav-link.active{:href => "/collectables"}
        %span.nav-link-span
          %span.u-nav Collectables
      %a.nav-link{:href => "/music"}
        %span.nav-link-span
          %span.u-nav Music
      %a.nav-link.active{:href => "#contact"}
        %span.nav-link-span
          %span.u-nav Contact Us
      %a.nav-link{:href => "#account"}
        %span.nav-link-span
          %span.u-nav Account
